.direita {
	text-align: right;
	padding-right: 5px;
	width: 20%
}

body {
	width: 95%;
	text-align: center;
	padding: 10px;
}

table {
	border: thin;
	width: 100%
}

#esquerda {
	width: 50%;
	text-align: left;
	padding-left: 5px;
}