html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, section,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
:focus {
	outline: 0;
}
body {
	line-height: 1;
	color: black;
}
ol, ul {
	list-style: none;
}
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}


.cf:before,
.cf:after {
    content:"";
    display:table;
}

.cf:after {
    clear:both;
}

.cf {
    zoom:1;
}

pre {
	white-space: pre;           /* CSS 2.0 */
	white-space: pre-wrap;      /* CSS 2.1 */
	white-space: pre-line;      /* CSS 3.0 */
	white-space: -pre-wrap;     /* Opera 4-6 */
	white-space: -o-pre-wrap;   /* Opera 7 */
	white-space: -moz-pre-wrap; /* Mozilla */
	white-space: -hp-pre-wrap;  /* HP Printers */
	word-wrap: break-word;      /* IE 5+ */
	}
	
@font-face {
    font-family: 'BitstreamVeraSansRoman';
    src: url('../fonts/Vera.eot');
    src: url('../fonts/Vera.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Vera.woff') format('woff'),
         url('../fonts/Vera.ttf') format('truetype'),
         url('../fonts/Vera.svg#BitstreamVeraSansRoman') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'BebasNeueRegular';
    src: url('../fonts/BebasNeue-Regular.eot');
    src: url('../fonts/BebasNeue-Regular.woff') format('woff'),
         url('../fonts/BebasNeue-Regular.ttf') format('truetype'),
         url('../fonts/BebasNeue-Regular.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'BebasNeueBold';
    src: url('../fonts/BebasNeue-Bold.eot');
    src: url('../fonts/BebasNeue-Bold.woff') format('woff'),
         url('../fonts/BebasNeue-Bold.ttf') format('truetype'),
         url('../fonts/BebasNeue-Bold.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ColaborateThinRegular';
    src: url('../fonts/ColabThi.eot');
    src: url('../fonts/ColabThi.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ColabThi.woff') format('woff'),
         url('../fonts/ColabThi.ttf') format('truetype'),
         url('../fonts/ColabThi.svg#ColaborateThinRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
 	background-color:#269;
	background-image: linear-gradient(white 2px, transparent 2px),
	linear-gradient(90deg, white 2px, transparent 2px),
	linear-gradient(rgba(255,255,255,.3) 1px, transparent 1px),
	linear-gradient(90deg, rgba(255,255,255,.3) 1px, transparent 1px);
	background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
	background-position:-2px -2px, -2px -2px, -1px -1px, -1px -1px;
}

#home nav[role="navigation"] li:nth-child(1),#about nav[role="navigation"] li:nth-child(2),#offline nav[role="navigation"] li:nth-child(3),#redemptionPage nav[role="navigation"] li:nth-child(4),#video nav[role="navigation"] li:nth-child(5),#quiz nav[role="navigation"] li:nth-child(6) {
	text-decoration: underline;
}

a {
	color: #666;
	transition: all 0.7s;
}
a:hover {
	color: #000;
}

.radio {
	width: 100%;
	margin-bottom: 15px;
	float: left;
}

#wrapper {
	margin-top: 12px;
	margin-right: auto;
	margin-left: auto;
	width: 92%; /* Holding outermost DIV */
	max-width: 1306px;
	background-color: hsla(0, 100%, 100%, 0.8); /* you'd use this if you had a colored background on the body, HSLA (and RGBA) allow an alpha channel so you can 'see through' them */
	border: 1px dotted #ccc;
	border-radius: 4px;
	padding-left: 15px;
	padding-right: 15px;
}

header a {
	text-decoration: none;
	color: #0d0c0c; 
}
#logo { 
	display: block; 
	padding-top: 40px; 
	color: #0d0c0c; 
	text-transform: uppercase; 
	font-family: 'BebasNeueBold'; 
	font-size: 3em; /* 48 ÷ 16 = 3*/
}
#logo span { 
	color: #dfdada; 
}
nav { 
	display: table; 
	margin-bottom: 25px; 
	margin-top: 26px; 
	padding-right: 1.0416667%; /* 10 ÷ 960 */ 
	padding-left: 1.0416667%; /* 10 ÷ 960 */ 
	width: 97.9166667%; /* 940 ÷ 960 */ 
	background: linear-gradient(top, hsla(0,0%,100%,0.11) 0%,hsla(0,0%,94%,0.11) 10%,hsla(0,0%,84%,0.11) 22%,hsla(0,0%,62%,0.11) 41%,hsla(0,0%,38%,0.11) 61%,hsla(0,0%,22%,0.11) 76%,hsla(0,0%,10%,0.11) 88%,hsla(0,0%,1%,0.11) 100%);
	border-bottom-color: #bfbfbf; 
	border-bottom-style: double; border-bottom-width: 4px; 
	background-image: url(../images/atwiNavBg.png); 
}
.-ms- nav {
	padding-bottom: 25px; 
	margin-top: 26px; 
	background-repeat: repeat-x; 
	background-image: url(../images/atwiNavBg.png); 
}
nav ul {
	display: table-row;
	width: 100%;
}
nav ul li { 
	text-align: center; 
	display: table-cell;
	margin-left: 1.3%;
	margin-right: 1.3%;
}
nav ul li:last-child {
	text-align: right;
}
nav ul li:first-child {
	text-align: left;
}
nav ul li a { 
	height: 42px;
	text-decoration: none; 
	text-transform: uppercase;  
	color: black; 
	text-shadow: 0 1px 0 hsla(0, 0%, 100%, 1.0);
	font: 1.875em/42px 'BebasNeueBold';
	display: block;	
}
nav ul li a:hover {
	animation: warning 1.5s infinite ease-in;
}
nav ul li:nth-child(odd) a {
	color: fe0208;
	color: hsl(359, 99%, 50%);
}
nav ul li:nth-child(odd) a:hover {
	color: hsl(359, 99%, 40%);
}
#content {
	padding-bottom: 10px;
}
#content h1 { 
	text-transform: uppercase; 
	font-family: 'BebasNeueRegular';
	font-size: 4.375em;  /* 102 ÷ 16 */
	text-shadow: 0px 1px white,4px 4px 0px #dad7d7 ; /* 4 ÷ 102 */
	font-weight: 400;
}
#content h1 em {
	display: block; 
	color: #504e4e; 
	text-shadow: none;
	font: .352941176em/1.052631579em 'BitstreamVeraSansRoman';
	font-weight: 400;
}
#content h2 {
	font-family: 'BebasNeueRegular'; 
	font-size: 1.575em; /* 30px ÷ 16 */ 
	text-transform: uppercase;
	font-weight: 400;
	text-align: center;
}
#content h2 em {
	color: #FD0105;
}
#content h3 {
	font-family: 'BebasNeueRegular'; 
	font-size: 1.2em;  
	color: #bfbfbf;
	font-weight: 400;
}
#content p { 
	font-family: 'ColaborateThinRegular';
	line-height: 40px; 
	color: #757474; 
	font-size: 1.875em; /* 24px ÷ 16 */ 
}
#content p em {
	text-decoration: underline;
}
#content a.button {
	text-decoration: none;
	font: 2.25em 'BebasNeueRegular'; /* 36px ÷ 16 */
	background-color: #b01c20;
	background: linear-gradient(top, rgb(241,92,96) 0%, rgb(176,28,32) 100%);
	border-radius: 8px;
	color: white;
	padding: 3%;
	float: left;
	margin-top: 30px;
	box-shadow: 5px 5px 5px hsla(0, 0%, 26.6667%, 0.8);
	text-shadow: 0px 1px black;
	border: 1px solid #bfbfbf;
	transition-property: border, color, text-shadow;
	transition-duration: 2s, 3s, 8s; 
}
#content a.button:hover {
	border: 1px solid black;
	color: black;
	text-shadow: 0px 1px white;
	background: linear-gradient(top, rgb(145,62,56) 0%,rgb(176,28,32) 100%);	
}
#content a span {
	font-size: 1.3em;
}
#content p i {
	font-weight: normal;
	font-style: normal;
}
#content li {
	margin-top: 10px;
	font: 2.25em 'BebasNeueRegular';
}
#content li:before {
	content: '\2254';
	margin-right: 1%;
}

footer {
	padding-bottom: 43px;
	float: left;
	margin-top: 20px;
	padding-top: 33px;
	margin-right: 0%;
	margin-left: 0%;
	clear: both;
	width: 100%; 
	border-top: 4px double #bfbfbf; 
}
footer p {
	margin-bottom: 38px;
	text-align: center;
	font-size: 1.125em /* 18px ÷ 16px */;
	font-family: 'BebasNeueRegular';
	text-transform: uppercase;
	color: #757474;
}
footer span a {
	color: #bfbfbf;
}

@keyframes warning {
	0% {
		text-shadow: 0px 0px 4px #000000;
	}
	50% {
		text-shadow: 0 0 40px #000000;
	}
	100% {
		text-shadow: 0 0 4px #000000;
	}
}

#form1 {
	width: 100%;
	font-family: 'ColaborateThinRegular';
	font-weight: 400;
}

#form1 hgroup {
	margin-bottom: 20px;
}
#form1 div {
	width: 100%;
	margin-bottom: 15px;
	float: left;
}
#form1 span#range {
	float: left;
	font-size: 3em;
	width: 100%;
	color: red;
	clear: both;
	text-align: center;
}

#form1 legend {
	font-style: italic;
	color: #434242;
	font-size: 0.8em;
	margin-bottom: 20px;
	float: left;
	width: 100%;
}
#form1 fieldset {
	border: 1px dotted #ccc;
	padding: 2%;
	margin-bottom: 20px;
	background: #ffffff;
	background: linear-gradient(top, #ffffff 77%,#f2f2f2 100%);
	border-radius: 4px;
	box-shadow: 2px 2px 5px hsla(0, 0%, 16.6667%, 0.3);
}
#form1 label {
	width: 55%;
	font-size: 1.3em;
	float: left;
	text-align: right;
	padding-right: 5px;
}
input {
	height: 20px;
	font-size: 1em;
	width: 40%;
	float: right;
}
#form1 textarea {
	height: 60px;
	font-size: 1em;
	width: 40%;
	float: right;
}
#form1 input#submit {
	text-decoration: none;
	height: 34px;
	font: 1.25em /* 36px ÷ 16 */ 'BebasNeueRegular';
	background-color: #29883f;
	border-radius: 8px;
	color: white;
	float: right;
	margin-bottom: 10px;
	background: linear-gradient(top, rgb(241,92,96) 0%, rgb(176,28,32) 100%);
	margin-top: 10px;
	box-shadow: 5px 5px 5px hsla(0, 0%, 26.6667%, 0.8);
	text-shadow: 0px 1px black;
	border: 1px solid #bfbfbf;
}

#form1 input#submitL {
	text-decoration: none;
	height: 34px;
	font: 1.25em /* 36px ÷ 16 */ 'BebasNeueRegular';
	background-color: #29883f;
	border-radius: 8px;
	color: white;
	float: left;
	margin-bottom: 10px;
	background: linear-gradient(top, rgb(241,92,96) 0%, rgb(176,28,32) 100%);
	margin-top: 10px;
	box-shadow: 5px 5px 5px hsla(0, 0%, 26.6667%, 0.8);
	text-shadow: 0px 1px black;
	border: 1px solid #bfbfbf;
}
.polyfill-important .input-range,.polyfill-important .step-controls {
	float: right;
}

input:not([type="range"]), textarea, select {
   border: 1px solid #bfbfbf;
   padding: 0.2em;
   font-size: 1.1em;
   line-height: 1.2em;
   background: #ffffff;
   background: linear-gradient(top, #ffffff 0%,#ededed 8%,#ffffff 100%);
   border-radius: 4px;
   appearance: none;
}

input:required {
	border: 1px solid rgba(253, 8, 8, 0.29);	
}
input:focus:invalid {
	background: url('../images/cross.png') no-repeat right;
	padding-right: 3px;
}
input:focus:valid {
	background: url('../images/tick.png') no-repeat right;
	padding-right: 3px;
}


.-webkit- input#howYouRateThis:focus:invalid,.-webkit- input#yearOfCrime:focus:invalid {
	background: url('../images/cross.png') no-repeat left;
	padding-right: 3px;
}
.-webkit- input#howYouRateThis:focus:valid,.-webkit- input#yearOfCrime:focus:valid {
	background: url('../images/tick.png') no-repeat left;
	padding-right: 3px;
}



* {
	transition: all 0.5s; 
}
@media screen and (min-width: 300px) and (max-width: 400px) {
	#logo {
		font-size: 1.5em;
	}
}
@media screen and (min-width: 300px) and (max-width: 600px) {
	#wrapper {
		margin: 0px;
		width: 100%;
	}
	nav ul li {
		margin: 0px;
		font-size: 0.9em;
		line-height: 0.8em;
	}
	nav ul li a {
		margin: 0px;
	}
	nav ul li a:hover {
		margin-left: 5%;
		background-color: #d6d5d5;
		padding-left: 2%;
	}
	#content h1 {
		font-size: 3em;
		text-shadow: 0 1px white, 2px 2px 0 #DAD7D7;
	}
	#content h2 {
		font-size: 1.2em;
	}
	#content li {
		margin-top: 3px;
		font: 1.25em 'BebasNeueRegular';
	}
	#content a.button {
		font-size: 1.2em;
		width: 94%;
		margin-top: 2%;
		text-align: center;
	}
	#content p {
		font-size: 1.1em;
		line-height: 1.3em;
	}
	#form1 input#submit, submitL {
		font-size: 1em;
	}
	
}
@media screen and (min-width: 475px) and (max-width: 600px) {
	#content h1 em {
		font-size: 0.4em;
		
	}
	#content h2 {
		font-size: 2em;
	}
	#content p {
		font-size: 1.25em;
		line-height: 1.3em;
	}
	#content a.button {
		font-size: 1.8em;
		width: 94%;
		margin-top: 2%;
		text-align: center;
	}
}
@media screen and (max-width: 600px) {
	
	nav {
		display: block;
		background: none;
	}
	nav ul {
		 display: block;
	}
	nav ul li {
		display: list-item;
		color: red;
		text-align: left;
		margin: 0px;
		font-size: 1em;
		line-height: 0.9em;
	}
	nav ul li:first-child,nav ul li:last-child {
		text-align: left;
	}
}	
@media screen and (max-width: 900px) {
	nav ul li a { 
		height: 38px;
		font: 1.575em/38px 'BebasNeueRegular';
	}
}
@media screen and (max-width: 768px) {
	#body {width: 96%; margin: 2%; padding: 0px; margin-bottom: 0px;
	}	
	#logo { text-align:center; }
	nav ul li a { 
		height: 34px;
		font: 1.275em/34px 'BebasNeueRegular';
	}
}
@media screen and (min-width: 1000px) {
	#content h1 {
		font-size: 6em;
	}
	#content p {
		font-size: 2.3em;
		line-height: 1.2em;
		margin-top: 1%;
	}
}